# Limpieza de la Data

In [1]:
#Importe de libreiras
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline

In [2]:
df = pd.read_csv('../data/raw/ames.csv')

### Exploracion de la Data

In [3]:
df

,Order,PID,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,Lot.Shape,Land.Contour,...,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [4]:
df.shape

(2930, 82)

In [5]:
# Nombre de las columnas en el dataset
df.columns

Index(['Order', 'PID', 'MS.SubClass', 'MS.Zoning', 'Lot.Frontage', 'Lot.Area',
       'Street', 'Alley', 'Lot.Shape', 'Land.Contour', 'Utilities',
       'Lot.Config', 'Land.Slope', 'Neighborhood', 'Condition.1',
       'Condition.2', 'Bldg.Type', 'House.Style', 'Overall.Qual',
       'Overall.Cond', 'Year.Built', 'Year.Remod.Add', 'Roof.Style',
       'Roof.Matl', 'Exterior.1st', 'Exterior.2nd', 'Mas.Vnr.Type',
       'Mas.Vnr.Area', 'Exter.Qual', 'Exter.Cond', 'Foundation', 'Bsmt.Qual',
       'Bsmt.Cond', 'Bsmt.Exposure', 'BsmtFin.Type.1', 'BsmtFin.SF.1',
       'BsmtFin.Type.2', 'BsmtFin.SF.2', 'Bsmt.Unf.SF', 'Total.Bsmt.SF',
       'Heating', 'Heating.QC', 'Central.Air', 'Electrical', 'X1st.Flr.SF',
       'X2nd.Flr.SF', 'Low.Qual.Fin.SF', 'Gr.Liv.Area', 'Bsmt.Full.Bath',
       'Bsmt.Half.Bath', 'Full.Bath', 'Half.Bath', 'Bedroom.AbvGr',
       'Kitchen.AbvGr', 'Kitchen.Qual', 'TotRms.AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace.Qu', 'Garage.Type', 'Garage.Yr.Blt',
       'Garage.Finish', 'Garage.Cars', 'Garage.Area', 'Garage.Qual',
       'Garage.Cond', 'Paved.Drive', 'Wood.Deck.SF', 'Open.Porch.SF',
       'Enclosed.Porch', 'X3Ssn.Porch', 'Screen.Porch', 'Pool.Area', 'Pool.QC',
       'Fence', 'Misc.Feature', 'Misc.Val', 'Mo.Sold', 'Yr.Sold', 'Sale.Type',
       'Sale.Condition', 'SalePrice'],
      dtype='object')

In [6]:
# Informacion de las variables cuales son su tipo de dato y cuantas hay nulas
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS.SubClass      2930 non-null   int64
 3   MS.Zoning        2930 non-null   object
 4   Lot.Frontage     2440 non-null   float64
 5   Lot.Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot.Shape        2930 non-null   object
 9   Land.Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot.Config       2930 non-null   object
 12  Land.Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition.1      2930 non-null   object
 15  Condition.2      2930 non-null   object
 16  Bldg.Type        2930 non-null   object
 17  House.Style      2930 non-null   object
 18  Overall.Qual     2930 non-null   int64
 19  Overall.Cond     2930 non-null   int64
 20  Year.Built       2930 non-null   int64
 21  Year.Remod.Add   2930 non-null   int64
 22  Roof.Style       2930 non-null   object
 23  Roof.Matl        2930 non-null   object
 24  Exterior.1st     2930 non-null   object
 25  Exterior.2nd     2930 non-null   object
 26  Mas.Vnr.Type     2907 non-null   object
 27  Mas.Vnr.Area     2907 non-null   float64
 28  Exter.Qual       2930 non-null   object
 29  Exter.Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt.Qual        2850 non-null   object
 32  Bsmt.Cond        2850 non-null   object
 33  Bsmt.Exposure    2847 non-null   object
 34  BsmtFin.Type.1   2850 non-null   object
 35  BsmtFin.SF.1     2929 non-null   float64
 36  BsmtFin.Type.2   2849 non-null   object
 37  BsmtFin.SF.2     2929 non-null   float64
 38  Bsmt.Unf.SF      2929 non-null   float64
 39  Total.Bsmt.SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating.QC       2930 non-null   object
 42  Central.Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  X1st.Flr.SF      2930 non-null   int64
 45  X2nd.Flr.SF      2930 non-null   int64
 46  Low.Qual.Fin.SF  2930 non-null   int64
 47  Gr.Liv.Area      2930 non-null   int64
 48  Bsmt.Full.Bath   2928 non-null   float64
 49  Bsmt.Half.Bath   2928 non-null   float64
 50  Full.Bath        2930 non-null   int64
 51  Half.Bath        2930 non-null   int64
 52  Bedroom.AbvGr    2930 non-null   int64
 53  Kitchen.AbvGr    2930 non-null   int64
 54  Kitchen.Qual     2930 non-null   object
 55  TotRms.AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace.Qu     1508 non-null   object
 59  Garage.Type      2773 non-null   object
 60  Garage.Yr.Blt    2771 non-null   float64
 61  Garage.Finish    2771 non-null   object
 62  Garage.Cars      2929 non-null   float64
 63  Garage.Area      2929 non-null   float64
 64  Garage.Qual      2771 non-null   object
 65  Garage.Cond      2771 non-null   object
 66  Paved.Drive      2930 non-null   object
 67  Wood.Deck.SF     2930 non-null   int64
 68  Open.Porch.SF    2930 non-null   int64
 69  Enclosed.Porch   2930 non-null   int64
 70  X3Ssn.Porch      2930 non-null   int64
 71  Screen.Porch     2930 non-null   int64
 72  Pool.Area        2930 non-null   int64
 73  Pool.QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc.Feature     106 non-null    object
 76  Misc.Val         2930 non-null   int64
 77  Mo.Sold          2930 non-null   int64
 78  Yr.Sold          2930 non-null   int64
 79  Sale.Type        2930 non-null   object
 80  Sale.Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB
None

In [7]:
df.describe()

,Order,PID,MS.SubClass,Lot.Frontage,Lot.Area,Overall.Qual,Overall.Cond,Year.Built,Year.Remod.Add,Mas.Vnr.Area,...,Wood.Deck.SF,Open.Porch.SF,Enclosed.Porch,X3Ssn.Porch,Screen.Porch,Pool.Area,Misc.Val,Mo.Sold,Yr.Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

Lot.Area

- LotArea: tamaño del lote en pies cuadrados

In [8]:
df["Lot.Area"].value_counts()

9600     44
7200     43
6000     34
9000     29
10800    25
         ..
11361     1
12511     1
9743      1
13068     1
10441     1
Name: Lot.Area, Length: 1960, dtype: int64

Gr.Liv.Area
- Gr.Liv.Area: Pies cuadrados de superficie habitable sobre el nivel del suelo (suelo)

In [9]:
df["Gr.Liv.Area"].value_counts()

864     41
1092    26
1040    25
1456    20
1200    18
        ..
1017     1
2350     1
2058     1
1912     1
1003     1
Name: Gr.Liv.Area, Length: 1292, dtype: int64

Heating.QC: calidad y condición de la calefacción

- EX : excelente
- Gd : bueno
- TA : Promedio/Típico
- Fa : feria
- Po :pobre

In [10]:
#Control de calidad de calefacción
df["Heating.QC"].value_counts()

Ex    1495
TA     864
Gd     476
Fa      92
Po       3
Name: Heating.QC, dtype: int64

Central Air: aire acondicionado central

- N : No
- Y : Sí

In [11]:
#Aire Acondicionado
df["Central.Air"].value_counts()

Y    2734
N     196
Name: Central.Air, dtype: int64

### Variables que se trabajaran para el modelo y dataframe

- Las variables que se trabajaran para el modelo seran las ["SalePrice"],["Lot.Area"],["Gr.Liv.Area"],["Heating.QC"],["Central.Air"]. En las variables de "Heating.QC" se clasificaran en 3 para generar variables Dummy, de igual forma para que "Central.Air" se trabajaran en Dummy para poder ingresarlas al modelo.

In [12]:
df_analisis = df[["SalePrice","Lot.Area","Gr.Liv.Area","Heating.QC","Central.Air"]]
df_analisis

      SalePrice  Lot.Area  Gr.Liv.Area Heating.QC Central.Air
0        215000     31770         1656         Fa           Y
1        105000     11622          896         TA           Y
2        172000     14267         1329         TA           Y
3        244000     11160         2110         Ex           Y
4        189900     13830         1629         Gd           Y
...         ...       ...          ...        ...         ...
2925     142500      7937         1003         TA           Y
2926     131000      8885          902         TA           Y
2927     132000     10441          970         TA           Y
2928     170000     10010         1389         Gd           Y
2929     188000      9627         2000         Ex           Y

[2930 rows x 5 columns]

### Clasificación de la variable "Heating.QC" y "Central.Air"

De las 5 clasificaciones que tenia la variable "Heating.QC" (Ex,TA,Gd,Fa,Po) la trabajaremos para tenerlas en tres. De igual manera en "Central.Air" las pondremos en español para que se entiendan.

In [13]:
df_analisis['Heating.QC'] = np.where( df['Heating.QC'] == "Ex", "Excelente" , 
                                       np.where( df['Heating.QC'] == "Gd", "Bueno" , "Tipico_pobre" ) )

C:\Users\richa\AppData\Local\Temp\ipykernel_10148\1163331833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_analisis['Heating.QC'] = np.where( df['Heating.QC'] == "Ex", "Excelente" ,

In [14]:
df_analisis['Central.Air'] = np.where( df['Central.Air'] == "Y", "SI" , "NO" )

C:\Users\richa\AppData\Local\Temp\ipykernel_10148\3039041272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_analisis['Central.Air'] = np.where( df['Central.Air'] == "Y", "SI" , "NO" )

In [15]:
df_analisis

      SalePrice  Lot.Area  Gr.Liv.Area    Heating.QC Central.Air
0        215000     31770         1656  Tipico_pobre          SI
1        105000     11622          896  Tipico_pobre          SI
2        172000     14267         1329  Tipico_pobre          SI
3        244000     11160         2110     Excelente          SI
4        189900     13830         1629         Bueno          SI
...         ...       ...          ...           ...         ...
2925     142500      7937         1003  Tipico_pobre          SI
2926     131000      8885          902  Tipico_pobre          SI
2927     132000     10441          970  Tipico_pobre          SI
2928     170000     10010         1389         Bueno          SI
2929     188000      9627         2000     Excelente          SI

[2930 rows x 5 columns]

### Creración de nuevo Archivo Excel

Se crea un nuevo archivo de excel llamado ames_processed.xlsx, para el cual se trabajara en los modelos y analisis.

In [16]:
df_analisis.to_excel('../data/processed/ames_processed.xlsx')